<div class="jumbotron">
    <h1>Giraffas isistema API</h1>
    <p class="lead">Giraffas ecenter API é o conjunto de APIs para inclusão no Sistema Delivery&copy; de cadastros de usuários, com endereços validos de entrega, e seus pedidos delivery.</p>
    <p class="lead">Esse conjunto de APIs partiu do conjunto genérico "Giraffas Delivery ECommerce API na v1.0" para então ser customizado com objetivo a integração com Sistema Call Center</p>
    <p><a href="http://www.giraffasdelivery.com.br" class="btn btn-primary btn-lg" target="_blank">Giraffas Delivery &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Versão 1.0</h2>
        <p>Em desenvolvimento para customização às particularidades de Call Center</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Documentação</h2>
        <p>A documentação das APIs se encontra no link "API" no menu superior ou no botão abaixo. A documentação se refere sempre a versão atual.</p>
        <p><a class="btn btn-default" href="~/Help">API &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>*@
</div>